.quiz-container {
  background: #d3d3d3; /* light gray background */
  color: rgb(19, 17, 17);
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}


.option {
  background: rgba(255, 255, 255, 0.1);
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.option.selected {
  background: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.timer {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.score-box {
  font-size: 3rem;
  background: white;
  color: #333;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  margin: 20px auto;
  font-weight: bold;
}

.result p, .achievement {
  font-size: 1.1rem;
  margin-top: 10px;
}
